@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;500&display=swap');
:root {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cairo Play', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

pre {
  text-wrap: wrap;
}
